/* Universal Selectors */
* {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    }

/* Class Selectors */

.page-section {
    text-align: center;
    border: 30px;
}




/* Element Selectors */
header {
    /* background-color: rgba(255, 255, 255, 0.356); */
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 20px;
      font-style: bold;
      color: rgb(168, 168, 168);
      text-align: left;
      border-bottom: 10px  solid rgb(60, 107, 194);
      height: 50px;
      background-color: #80ced6;
  }

body {
    background:#fefbd8;
}


header h1 {
    color: black;
    font-size: 20pt;
    display: inline-block;
}

header nav {
    float: right;
}



header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    text-align: center;
    background:#d5f4e6;
}




.text-wrapper h1{
    text-align: right;
    
}
/* ID Selectors */
.about {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

