/* Universal Selectors */
* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: blue;
}

/* Element Selectors */
.header {
    background-color: grey;
    padding: 30px;
    text-align: left;
    font-size: 10px;
}


h1 {
    color: blue;
}

/* Class Selectors */

/* ID Selectors */